@import url(reset.css);

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Plugin Google fonts */
/* @import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap"); */

.block__professional {
	font-family: "Work Sans";
}

.block__professional h5 {
	font-weight: 600;
}

.block__professional p {
	font-weight: 500;
}

.block__introduce-product {
	font-family: "Roboto";
}

.block__introduce-product h5 {
	font-weight: 500;
}

.block__introduce-product p {
	font-weight: 400;
}

body {
	max-width: 660px;
	font-family: sans-serif;
	margin-left: 20px;
}

.header-box {
	line-height: 1.5;
}
h1 {
	color: brown;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	letter-spacing: .2em;
}

.header-box p {
	font-size: 14px;
	font-style: italic;
	text-align: center;
}

.header-button {
	color: rgb(19, 1, 43);
	font-weight: 600;
}

.header-button a {
	text-decoration: underline;
}

.nav {
	font-style: oblique;
	line-height: 2.5;
	text-transform: capitalize;
	font-weight: 600;
}

.nav-link {
	text-decoration-line: overline underline;
	text-decoration-thickness: 1px;
	text-decoration-style: dotted;
}

h2 {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	text-shadow: 2px 1px 2px #5f5f5f;
	letter-spacing: 0.11em;
	word-spacing: 0.5em;
}

.content-main {
	color: #548;
	line-height: 1.5;
	text-align: justify;
}

.content-section {
	color: #1d3d2d;
	line-height: 1.25;
}

h3 {
	font-weight: 600;
	font-size: 20px;
	text-align: center;
}


.subcontent-list {
	text-align: center;

}

.subcontent-item a {
	font-size: 18px;
	font-style: italic;
	text-decoration: underline;
}

.back-to-top a{
	font-weight: 600;
	font-style: italic;
	color: saddlebrown;
	text-decoration: underline;
	line-height: 2;
}

.footer {
	font-style: italic;
	color: #548;
	line-height: 5;
}

.block {
	border: 1px black;
}